<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />


      {% block headtag%}{% endblock %}

  </head>
  
  <body class = "body"> 
    <nav class="navbar-custom navbar navbar-expand-sm navbar-light"> <button class="navbar-toggler" type="button" data-target="#navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse">
          {% if session.user_id %}
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/browse">Browse</a></li>
                <li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li>
                <li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
                <li class="nav-item"><a class="nav-link" href="/mygarden">My Garden</a></li>
                <li class="nav-item"><a class="nav-link" href="/account">Account Details</a></li>
                <li class="nav-item"><a class="nav-link" href="https://xenon-21670634.hubspotpagebuilder.com/newsletter-signup">Newsletter</a></li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>
          {% else %}
          <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            <li class="nav-item"><a class="nav-link" href="https://xenon-21670634.hubspotpagebuilder.com/newsletter-signup">Newsletter</a></li>
          </ul>
          {% endif %}
        </div>
    </nav>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
      <div style = "max-width: 80%; margin: 0 auto; padding: 10px;">
            
          <div class = "container-fluid bg-white" style = "padding: 20px">
            
            <div class = "row" >
              {% block content %}
              {% endblock %} 
              
                
            </div>
            <div class = "row" >
                
              <div class = "col-sm-8" style = "margin: auto; height: 10px">
                <p></p>
              </div>
                
            </div>
      
          </div>

          <div class ="container-fluid" style = "padding: 20px">
            <div class = "row">
              <div class = "col-sm-8" style = "margin: auto; height: 10px">
              </div>
                
            </div>



      </div>
    
      
    <div class= "body">

      <footer class = "footer">
        <div class="table-responsive">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col" class = "col-sm-4" style = "border-color: transparent"> Made with real data from <a href="https://api.nasa.gov/" style = 'color: #000000; text-decoration: underline' >NASA insight mars lander API</a>.</th>
                  <th scope="col" class = "col-sm-2" style = "border-color: transparent"> January, 2022.
                  <th scope="col " class = "col-sm-4" style = "border-color: transparent">Thanks to <a href="https://cs50.harvard.edu/x/"style = 'color: #000000; text-decoration: underline' >  CS50x</a>, you rock.</th>
                </tr>
              </thead>
            </div>
      </footer>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
      hbspt.forms.create({
	    region: "na1",
	    portalId: "21670634",
	    formId: "e50fee74-6fa6-4831-ad7c-c17211ee3243"
      });
</script>
      <!-- Start of HubSpot Embed Code -->
      <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/21670634.js"></script>
      <!-- End of HubSpot Embed Code -->
    </body>
</html>